<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yeni Elan Bildirimi</title>
</head>
<body>
    <h2>Yeni elan yaradıldı</h2>
    <p>Yeni elan haqqında məlumat:</p>
    <p>Marka: {{ car.brand }}</p>
    <p>Model: {{ car.model }}</p>
    <p>Yanacaq Növü: {{ car.fuel_type }}</p>
    <p>Yürüş Sistemi: {{ car.transmission }}</p>
    <p>Korpus Növü: {{ car.body_type }}</p>
    <p>Rəng: {{ car.color }}</p>
    <p>Bazar: {{ car.market }}</p>
    <p>Şəhər: {{ car.city }}</p>
    <p>Oturacaq Sayı: {{ car.seat_count }}</p>
    <p>Sahib Sayı: {{ car.owner_count }}</p>
    <p>İl: {{ car.year }}</p>
    <p>Kilometraj: {{ car.milage_car }}</p>
    <p>Valyuta: {{ car.mony_currenc }}</p>
    <p>Yürüş Sistemi Növü: {{ car.transmission_type }}</p>
    <p>Şəkil: {{ car.image_car }}</p>
    <p>Status: {{ car.car_status }}</p>
    <p><a href="{% url 'approve_car' car.id %}">Təsdiqlə</a></p>
</body>
</html>
