{% load static %}

<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turbo.az Şifrəni Yenilə</title>
    <link rel="stylesheet" href="{% static 'user/password_reset.css' %}">
</head>
<body>
    <div class="container">
        <h1>Şifrəni Yenilə</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="password">Yeni Şifrə:</label>
            <input type="password" id="password" name="password" required><br>

            <label for="confirm_password">Şifrəni Təkrarla:</label>
            <input type="password" id="confirm_password" name="confirm_password" required><br>

            <button type="submit">Şifrəni Yenilə</button>
        </form>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>Şifrəni unutdunuzmu? <a href="{% url 'password_reset_request' %}">Şifrəni Yenilə</a></p>
    </div>
</body>
</html>