/* home.css */
/* Genel stil ayarları */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Header stilleri */
.head-info {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.head-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.head-info ul li {
  display: inline-block;
  margin-right: 10px;
}

.head-info ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.head-info ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

.head-info ul li span {
  font-weight: bold;
}

.web-navbar {
  background-color: #222;
  padding: 10px 0;
}

.web-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.web-navbar ul li {
  display: inline-block;
  margin-right: 10px;
}

.web-navbar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.web-navbar ul li a:hover {
  background-color: #444;
  border-radius: 5px;
}

/* Form stilleri */
.grey-zone {
  background-color: #ccc;
  padding: 20px 0;
  text-align: center;
}

.container1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-product {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header ul {
  list-style-type: none;
  padding: 0;
}

.form-header ul li {
  margin-bottom: 10px;
}

/* Button stilleri */
.btn {
  background-color: #ff0000;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.btn a:hover {
  background-color: #0056b3;
}

/* Footer stilleri */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* create_car.css */
/* Ek form stilleri */
.form-group {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #218838;
}

/* Responsive stiller */
@media (max-width: 768px) {
  .container {
      width: 90%;
  }
}

.card-footer {
  background-color: #f7f7f7;
  padding: 5px; 
  text-align: center;
  font-size: 12px; 
  position: relative;
}

.card-footer .price {
  font-size: 16px; 
  font-weight: bold;
  color: #d32f2f;
}

.card-footer .details {
  font-size: 10px; 
  color: #777;
}

.edit-button {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
}

.edit-button:hover {
  background-color: #0056b3;
}